<div *ngIf='resident' class="justify-content-center container-fluid">
    <header>

        <!-- Jumbotron -->
        <div class="p-5 bg-light" style="margin-top: 58px;">
            <h4 class="mb-3">Name: {{resident.first_name}} {{resident.last_name}}</h4>
            <h6 class="mb-3">Up to date</h6>
        </div>
        <!-- Jumbotron -->
    </header>

    <form class="needs-validation row" novalidate="" class="text-center">

        <div class="col-md-12 mb-3">
            <h3>Start New Claim</h3>

            <label for="startDate">Start Date (follow format)</label>
            <input type="text" class="form-control" id="startDate" placeholder="mm/dd/year" value="" required=""
                #startDate>

            <div class="invalid-feedback">
                Valid start date is required.
            </div>

        </div>
        <div class="col-md-12 mb-3">

            <label for="endDate">End Date Start Date (follow format)</label>
            <input type="text" class="form-control" id="endDate" placeholder="mm/dd/year" value="" required="" #endDate>

            <div class="invalid-feedback">
                Valid end date is required.
            </div>

        </div>

        <button class="btn  btn-primary col-md-4 mb-3" type="button"
            (click)="runNode(startDate.value, endDate.value, resident.id)">Start Claim</button>
    </form>

    <div class="col-12">
        <h3>Confirmation Needed</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Units</th>

                    <th scope="col">Cash Recieved</th>
                    <th scope="col">Confirm Cash Recieved</th>
                </tr>
            </thead>

            <tbody *ngFor="let bill of billingList">
                <tr *ngIf="bill.approved == 'Pending' && resident.id == bill.resident_id.id">
                    <!-- Add billing info -->
                    <th scope="row">{{bill.id}}</th>
                    <td>{{bill.start_date}}</td>
                    <td>{{bill.end_date}}</td>
                    <td>${{bill.amount_billed}}</td>
                    <td>{{bill.units_billed}}</td>
                    <td>{{bill.approved}}</td>
                    <td>
                        <button class="btn btn-success" (click)="approveBtn(bill.id)" style="margin-right: 10px;">Confirm</button>
                        <button class="btn btn-danger" (click)="deniedBtn(bill.id)">Denied</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="col-12">
        <h3>Billing History</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Units</th>

                    <th scope="col">Cash Recieved</th>
                </tr>
            </thead>

            <tbody *ngFor="let bill of billingList">
                <tr *ngIf="bill.approved != 'Pending' && resident.id == bill.resident_id.id " (click)="openModal(bill.id)">
                    <!-- Add billing info -->
                    <th scope="row">{{bill.id}}</th>
                    <td>{{bill.start_date}}</td>
                    <td>{{bill.end_date}}</td>
                    <td>${{bill.amount_billed}}</td>
                    <td>{{bill.units_billed}}</td>
                    <td>{{bill.approved}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>